html * {
    line-height: calc(1ex / 0.32);
    font-family: Nunito, sans-serif;
}

body {
    margin: 0;
    height: 100%;
    background-color: #eaeaea;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    background-color: #03b785f2;
    margin-bottom: 20px;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show {
    display: block;
}

.container {
    display: inline-block;
    cursor: pointer;
}


/* Popup container */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 104px;
    height: 104px;
}


/* The actual popup (appears on top) */

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #e8d6e8;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
}


/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e8d6e8 transparent transparent transparent;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#img0 {
    /* background: url(https://scientificgems.files.wordpress.com/2016/06/periodic_table_complete.png) 56 78; */
    background: url(https://upload.wikimedia.org/wikipedia/commons/c/c0/Periodic_Table_Of_Elements.svg) 56 78;
}

#forfail {
    margin: 15px;
}

.centerdiv {
    display: flex;
    justify-content: center;
}

#inputfield {
    margin-bottom: 10px;
}

#input {
    width: 300px;
    height: 30px;
}

footer {
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 8px;
    width: 100%;
}

p.copyright {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: small;
}