body {
    margin: 0;
    height: 100%;
    background-color: #eaeaea;
}

h1 {
    text-align: center;
    background-color: #03b785f2;
    margin-bottom: 20px;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menucontainer {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdownmenu {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */


/*.dropdownmenu:hover .dropdown-content {display: block;}*/


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdownmenu:hover .menucontainer {
    background-color: #3e8e41;
}

.show {
    display: block;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 28px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-5px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -6px);
}


/* Popup container */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 114px;
    height: 111px;
}


/* The actual popup (appears on top) */

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #e8d6e8;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
}


/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e8d6e8 transparent transparent transparent;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#img0 {
    background: url(https://scientificgems.files.wordpress.com/2016/06/periodic_table_complete.png) 56 78;
}

.centerdiv {
    display: flex;
    justify-content: center;
}

#inputfield {
    margin-bottom: 10px;
}

.copyright {
    font-size: 10px;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
    bottom: 0px;
    position: absolute;
}